body {
    font-family: "Georgia", Helvetica, Arial;
}

main{
    display:flex;
    flex-flow: column;
    align-items: center;
}   
a{
    text-decoration: none;
    font-size: 0.8em;
}

article{
    width: 75%;
}

h1{
    font-size: 2.5em;
    color: #3151ac;
}
h2{
    font-size: 1.5em;
    color: #707070;

}





